$link_color: $white;
$link_color_hover: $sunglow;
$text_color1: $white;
$text_color2: $grey;
$btn_bg: $sunglow;
$btn_bg_hover: $bright_sun;
$caption_color: $nero;
$border_color: $sunglow;
$portfolio_bg: $white_smoke;
$portfolio__item_bg: $white;
$border_image_color: $white_smoke;
